<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--CSS-->
    <link href="css/styles.css" rel="stylesheet">
    <!--Fuente-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/389db06e45.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo-barra-mensaje">
            <div class="logo">
                <img src="images/logo.png" alt="Logo MercadoLiebre">
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Buscar...">
                <button>Buscar</button>
            </div>
            <div class="cta">
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav class="barra-navegacion">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="/register">Creá tu cuenta</a></li>
                <li><a href="/login">Ingresar</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
        <div class="hamburger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <main>
        <div class="img-home-banner">
            <img src="images/img-home-banner.jpg" alt="Banner">
        </div>
        <section class="ultima_visita">
            <p class="titulares">Basado en tu última visita</p>
            <div class="product-container">
            <div class="producto">
                <img src="images/cafetera.jpg" alt="Cafetera Moulinex">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
                <p>Cafetera Moulinex</p>
            </div>
            <div class="producto">
                <img src="images/macbook.jpg" alt="MacBook Pro 2019">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <p>MacBook Pro 2019</p>
            </div>
            <div class="producto">
                <img src="images/samsung_galaxy.jpg" alt="Samsung Galaxy S10">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <p>Samsung Galaxy S10</p>
            </div>
            <div class="producto">
                <img src="images/smarttv.jpg" alt="SmartTv Samsung 43">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <p>SmartTv Samsung 43"</p>
            </div>
            </div>
        </section>

        <section class="ofertas">
            <p class="titulares">Ofertas</p>
            <div class="product-container">
            <div class="producto">
                <img src="images/cafetera.jpg" alt="Cafetera Moulinex">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
                <p>Cafetera Moulinex</p>
            </div>
            <div class="producto">
                <img src="images/macbook.jpg" alt="MacBook Pro 2019">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                <p>MacBook Pro 2019</p>
            </div>
            <div class="producto">
                <img src="images/samsung_galaxy.jpg" alt="Samsung Galaxy S10">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                <p>Samsung Galaxy S10</p>
            </div>
            <div class="producto">
                <img src="images/smarttv.jpg" alt="SmartTv Samsung 43">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                <p>SmartTv Samsung 43"</p>
            </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="tarjeta-footer">
                <i class="fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="tarjeta-footer">
                <i class="fa-solid fa-gift"></i>
                <h2>Envío gratis desde $2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productoos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="tarjeta-footer">
                <i class="fa-solid fa-shield-halved"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
</body>
</html>