<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer HTML</title>
</head>
<body>
    <span>Ultimo texto dentro de un span.</span>
    <div>Esto es un texto dentro de un div.</div>
    <h1>h1</h1>
    <h2>h2</h2>
    <p>h3</p>
    <ol>
        <li><a href=""></a></li>
        <li>2</li>
        <li>3</li>
    </ol>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
    <ul>
        <li><a href="https://www.facebook.com">Facebook</a></li>
        <li><a href="https://www.instagram.com">Instagram</a></li>
        <li><a href="https://www.ole.com.ar">Olé</a></li>
    </ul>
    <a href=""></a>
    <img src="">
</body>
</html>