<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--CSS-->
    <link href="css/styles.css" rel="stylesheet">
    <!--Fuente-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/389db06e45.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo-barra-mensaje">
            <div class="logo">
                <img src="images/logo.png" alt="Logo MercadoLiebre">
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Buscar...">
                <button>Buscar</button>
            </div>
            <div class="cta">
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav class="barra-navegacion">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="/login">Ingresar</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
        <div class="hamburger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <main>
        <div class="form-box">
            <h1>Registro de Usuario</h1>
        <form id="register-form">
            <label for="nombre">Nombre y apellido:</label>
            <input type="text" id="nombre" required>
    
            <label for="nombre-usuario">Nombre de usuari@:</label>
            <input type="text" id="nombre-usuario" required>
    
            <label for="fecha-nacimiento">Fecha de nacimiento:</label>
            <input type="date" id="fecha-nacimiento" required>
    
            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" required>
    
            <label for="perfil-usuario">Perfil del usuario:</label>
            <select id="perfil-usuario">
                <option value="comprar">Quiero comprar</option>
                <option value="vender">Quiero vender</option>
            </select>
    
            <label for="categorias-interes">Categorías de interés:</label>
            <div id="categorias-interes">
                <input type="checkbox" id="electro" value="Electro">
                <label for="electro">Electro</label>
    
                <!-- Repite el mismo patrón para las otras categorías de interés -->
            </div>
    
            <label for="foto-usuario">Foto de usuario:</label>
            <input type="file" id="foto-usuario">
    
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" required>
    
            <label for="confirmar-contrasena">Confirmar contraseña:</label>
            <input type="password" id="confirmar-contrasena" required>
    
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
    </form>
        </div>
    </main>
</body>
</html>